*.dSYM
*.DS_Store

build/*
src/lcthw/*.o

xcode/lcthw.xcodeproj/xcuserdata/*
xcode/lcthw.xcodeproj/xcuserdata
xcode/build
xcode/build/*

tests/bstree_tests
tests/d_array_tests
tests/darray_algos_tests
tests/hashmap_algos_tests
tests/hashmap_tests
tests/list_algos_tests
tests/list_tests
tests/radixmap_tests
tests/string_algos_tests
tests/*.log
